<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://www.mylocal.com:8080/com.cl.NewT66y.---/e1a88f7f8ab50cac/ipa.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>http://www.mylocal.com:8080/com.cl.NewT66y.---/e1a88f7f8ab50cac/icon.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.cl.NewT66y.---</string>
          <key>bundle-version</key>
          <string>2.3.3</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>小草</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
